@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/gt-walshiem-pro/GTWalsheimPro-Regular.woff') format('woff2'),
         url('/fonts/gt-walshiem-pro/GTWalsheimPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/gt-walshiem-pro/GTWalsheimPro-Black.woff') format('woff2'),
         url('/fonts/gt-walshiem-pro/GTWalsheimPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/gt-walshiem-pro/GTWalsheimPro-UltraLight.woff') format('woff2'),
         url('/fonts/gt-walshiem-pro/GTWalsheimPro-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/gt-walshiem-pro/GTWalsheimPro-Light.woff') format('woff2'),
         url('/fonts/gt-walshiem-pro/GTWalsheimPro-Light.woff') format('woff2');
    font-weight: 300;
    font-style: normal;
}
:root {
    --darkText: #2D322E;
    --darkBg: #1F3409;
    --activeGreen: #365116;
    --whiteText: #fff;
    --locationColor: #BDE297;
    --orangeText: #EA6A41;
    --sectionThreeBg: ##FAFAFA;
    --masterClassYellow: #F4F3D5;
}

* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.prompt-thin {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .prompt-extralight {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .prompt-light {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-medium {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .prompt-semibold {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .prompt-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .prompt-extrabold {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .prompt-black {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .prompt-thin-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .prompt-extralight-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .prompt-light-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .prompt-regular-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .prompt-medium-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .prompt-semibold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .prompt-bold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .prompt-extrabold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .prompt-black-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
html {
    font-size: 62.5%;
    /* changes a default 16px font size to 10px */
}


body {
    font-size: 1.4rem;
}

/* My styles start here */
.logo-nav{
    width: 90px;
}
.nav-item{
    margin: 2rem;
}
.nav-link{
    color: var(--darkText);
    font-size: 1.4rem;
    font-family: 'GT Walsheim Pro', sans-serif;
 
}
.active{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: bold !important;
    display: inline-block;
    padding-bottom: 5px; 
    position: relative;
    color: var(--activeGreen) !important;
}
.active .nav-link{
    color: var(--activeGreen) !important;
}
.active::after {
    content: '';
    display: block;
    width: 100px;
    height: 0;
    border-top: 3px solid var(--activeGreen); 
    border-left: 3px solid transparent; 
    border-right: 3px solid transparent; 
    margin: 10px auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px; 
}
.register-btn{
    font-size: 1.7rem;
    border-radius: 27px;
    padding: 10px 20px 10px 20px;
    background-color: var(--darkBg);
    color: white;
}
.register-btn:hover, .register-btn:focus{
    background-color: var(--darkBg) !important;
    color: white !important;
}
.register-text{
    font-family: 'inter', sans-serif;
    font-weight: 500;
}
.navbar-toggler-icon {
    font-size: 2rem;
}

/* Hero section */
.hero-section{
    background-image: url('../images/hero-image.jpeg');
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--whiteText);
}
.side-display{
    padding: 4rem;
}
.text-intro h1{
    font-size: 6.2rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    line-height: 72px;
    margin-top: 4rem;
}
.theme-heading {
    font-size: 2.4rem;
    line-height: 27px;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;
}
.theme-section .theme h3{
    font-size: 2.7rem;
    line-height: 36px;
    font-family: 'GT Walsheim Pro', sans-serif;
}
.hero-reg-btn{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 2rem;
    /* font-weight: bold; */
    line-height: 22.9px;
    background: linear-gradient(to bottom, #EA6A41, #B5360D);
    border: none;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    color: var(--whiteText);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.bottom-display{
    display: flex;
    justify-content: space-between;
}
.bottom-left-display{
    display: flex;
}
.date{
    font-size: 2.4rem;
    margin-top: 2rem;
    font-family: 'GT Walsheim Pro', sans-serif;
}
.time{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 2.4rem;
    font-family: 'GT Walsheim Pro', sans-serif;
}
.location{
    margin-left: 2rem;
    font-size: 2.4rem;
    margin-top: 2rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    color: var(--locationColor);
}
.bottom-right-display h1{
    font-size: 5.4rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: bold;
   /* margin-bottom: 300px; */
}
.section-two{
    background-color: var(--whiteText);
    /* padding: 0rem 4rem 0rem 4rem; */
}
.left-section{
    /* padding-left: 4rem; */
}
.upper-text{
    padding-top: 6rem;
}
.wysk{
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.e-header{
    font-size: 4.5rem;
    font-family: 'Prompt', sans-serif;
}
.e-header .red-2024{
    font-size: 4.5rem;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: var(--orangeText) !important;
}
.second-section-image{
    width: 90%;
    border-radius: 15px; 
    margin-bottom: 4rem;
}
.second-box{
     /* margin-top: 13rem; */
     padding: 4rem 6rem 4rem 6rem;
}
.right-section{
    padding-top: 13rem;
    /* width: 90%; */
    /* margin-left: 3rem; */
    /* margin-right: 13rem; */
}
.text-one{
    font-size: 1.5rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    margin-bottom: 3rem;
    font-weight: 300;
}
.text-two{
    font-size: 1.5rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;
}
.section-three{
   background-color: var(--sectionThreeBg);
}

#black-kano-text{
    color: black !important;
}

.top-section{
    padding-left: 4rem;
    padding-top: 5rem;
}
.reg-category h2{
    font-family: 'Prompt' sans-serif;
    font-size: 4rem;
    line-height: 40px;

}
.category-text{
    font-style: italic;
}
.menu-box{
    padding: 2rem;
    width: auto;
    margin: 0 auto;
}
.menu-box button{
    font-size: 1.6rem;
}
.section{
    display: none;
    margin-top: 4rem;
}
.active-event{
    background: linear-gradient(to bottom, #EA6A41, #B5360D);
    color: white;
}
.btn-event {
    font-family: 'GT Walsheim Pro';
    text-transform: uppercase;
    border: none;
    background-color: var(--whiteText);
    padding: 10px 20px 10px 20px;
}

.main-masterclass{
    background-color: var(--whiteText);
    padding: 2rem;
    border-radius: 10px;
}
.main-masterclass-content{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../images/master-class-bg.jpeg') no-repeat center center; no-repeat center center; no-repeat center center;
    background-position: top top;
    background-size: cover;
    padding: 4rem;
    height: auto;
    border-radius: 10px;
}
.master-class-title{
    background-color: var(--masterClassYellow);
    width: 120px;
    border-radius: 7px;
    margin-bottom: 5rem;
    padding-left: 10px;
    margin-top: 7rem;
}
.master-class-title p{
    font-size: 1.6rem;
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
   
}
.master-class-topic{
    color: var(--whiteText);
    margin-bottom: 3rem;
}
.master-class-topic h1{
    font-family: 'GT Walsheim Pro';
}
.master-class-instructor{
    color: var(--whiteText);
}
.master-class-instructor h5{
    font-family: 'GT Walsheim Pro';
    font-size: 1.6rem;
    
}
.date-and-cta{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.master-class-date h4{
    font-family: 'GT Walsheim Pro';
    margin-top: .9rem;
    font-weight: 300;
    font-style: normal;
}
.arrow-btn{
    background-color: #1F3409;
    color: #fff;
    padding: 10px 15px 10px 15px;
}
.arrow-btn:hover, .arrow-btn:focus{
    background-color: #1F3409;
    color: #fff;
}
.master-class-author{
    font-style: italic;
}
.price-and-cta{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.exhibition-price{
    color: #EA6A41;
    
}
.exhibition-price h4{
    font-family: 'GT Walsheim Pro';
    font-weight: 700;
}
.ex-image{

}
.exhibition-title {
    margin-top: 1rem;
}
.exhibition-title p{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
}
.booth-3{
    width: 70%;
}
.event-deliverables{
    margin-bottom: 10rem;
}
.section-four{
    background:   radial-gradient(circle at center, #043d1e, rgba(0, 0, 0, 0.8)), /* Light green radial overlay */
    url('../images/section-4-bg.png') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}
.image-box-1{
    width: 300px; 
    height: 300px;
    border-radius: 50%; 
    overflow: hidden;
    border: 7px solid #73C21F;
    transition: transform 0.2s ease-in-out;
}
.outer-wrapper{
    /* width: 380px;
    height: 380px;
    border: 4px solid green;  
    border-radius: 50%;
    overflow: hidden; */
}
.wrapper-div{
    width: 300px;
    height: 300px;
    border: 10px solid #1b2d06;  
    border-radius: 50%;
    overflow: hidden;
    outline: #73C21F solid 10px;
}

.sec-4-img{
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    overflow: hidden;
    

}
.who-should-attend{
    color: #fff;
    margin-top: 3rem;
}
.who-should-attend h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.a-italics{
    font-style: italic;
}
.btn-box{
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 7rem;
}
.btn-box .hero-reg-btn{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.who-top{
    margin-top: 4rem;
}
.list-of-who{
    margin-top: 4rem;
}
.who-top p{
    color: white;
    font-size: 1.8rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 200;
}
.list-el{
    color: #fff;
    text-transform: uppercase;
    /* background-color: red; */
    border: 1px solid #73C21F; 
    border-radius: 0% 14% 25% 11% / 25% 74% 0% 55%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.7rem;
    margin-bottom: 1rem;
}
.text-heading-itself{
    color: #fff;
}
.list-itemss{
    font-family: 'Prompt', sans-serif;
    font-size: 1.7rem;
}
.sf-1{
    padding-left: 3rem;
    padding-top: 4rem;
}
.section-five{
    padding-bottom: 4rem;
}
.section-five-first h1{
    font-family: 'Prompt', sans-serif;
    font-size: 3.5rem;
}
.five-item{
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #1F3409;
    margin-bottom: .5rem;
    font-family: 'GT Walsheim Pro', sans-serif;
}
.five-item h4{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;

}
.what-img{
    width: 70%;
    margin-top: 6rem;
    margin-left: 2rem;
}
.section-six{
    background:   radial-gradient(circle at center, #043d1e, rgba(0, 0, 0, 0.8)), /* Light green radial overlay */
    url('../images/section-4-bg.png') no-repeat center center;
    padding-bottom: 10rem;
}
.expected-outcome{
    margin-top: 4rem;

}
.expected-outcome h1{
    color: white;
    font-size: 4rem;
}
.expectation{
    color: white;
    margin-bottom: 3rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;
    /* margin-top: 5rem; */
}
#f-exp{
       margin-top: 5rem;
}
.ex-1{
    color: #FFBD50;
}
.ex-2{
    color: #73C21F
}
.ex-3{
  color:  #4BF0A5;
}
.ex-4{
  color:  #E86B35
}
/* <i class="fas fa-check-circle"></i> */

.speakers{
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    margin-top: 4rem;
    font-size: 3.8rem;
    font-weight: 500;
}

.curved-box{
    background-color: #415450;
    clip-path: polygon(0% 26%, 67.76% 25.48%, 71.59% 8.76%, 76.3% 25.25%, 97% 25.25%, 97% 75.25%, 50% 75.25%, 0% 76%);
    color: white;
    padding: 4rem;
    width: 70%;
    margin: 0 auto;
    /* height: auto; */
}
.curved-box .curved-text p{
    color: white;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}


.image-container {
    text-align: left;
    margin: 50px;
    width: 80%; /* Adjust as needed */
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 150%; /* Aspect ratio to control height */
    overflow: hidden;
    border-radius: 15px; /* Adjust the radius to get the curved edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for a nice effect */
    clip-path: polygon(10% 23.25%, 43.38% 23.25%, 50% 10%, 64.81% 10%, 90% 10%, 90% 90%, 10% 90%);
    background-color: black;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 3.5rem;
}

.caption {
    margin-left: 2.5rem;
    margin-top: -3.2rem;
    font-family: 'GT Walsheim Pro', sans-serif;
}
.main-img-box{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for a nice effect */
    clip-path: polygon(10% 23.25%, 43.38% 23.25%, 50% 10%, 64.81% 10%, 90% 10%, 90% 90%, 10% 90%);
    height: 100%;
}
.what-img{
    width: 100%;
}

.caption h3 {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--darkText);
    font-family: 'GT Walsheim Pro', sans-serif;
}

.caption p {
    font-size: 0.9em;
    color: #666; 
}

.section-eight{
    background-color: #F9F8F3;
    padding-bottom: 3rem;
}
.s-main{
    padding: 5rem;
}
.hand-circle h2{
    font-size: 5rem;
  
}
.hand-circle{
    background-color: #9FD79A;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.sponsorship h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Prompt', sans-serif;
}
.upper-case-words{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'GT Walsheim Pro';
}
.s-text{
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
}
.section-nine{
    background:   radial-gradient(circle at center, #043d1e, rgba(0, 0, 0, 0.8)), /* Light green radial overlay */
    url('../images/section-4-bg.png') no-repeat center center;
    padding-bottom: 4rem;
}
.main-nine{
    padding: 6rem 3rem 1rem 3rem;
}
.header-box{
    display: flex;
   
}

.text-s-box{
    font-family: 'Prompt', sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
}
.s-level{
    width: 60px;
}
.s-fee{
    font-size: 3rem;
}
.s-type{
    font-size: 1.5rem;
    font-weight: 300;
}
.s-words{
    font-weight: 300;
}
.header-style-one{
    background-color: #FAF5ED;
    border: none;
}
.s-text-body{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;
}
.card-body{
    padding: 2rem;
}
.last-s-text{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 300;  
}
.need-s{
    font-size: 4rem;
    color: white;
    font-family: 'Prompt', sans-serif;
}
.gold{
    background-color: #FDF6F6;
}
.silver{
    background-color: #D5D6D9;
}
.in-kind{
   background-color: #E6E6E6;
}
.last-div{
    padding: 6rem 3rem 6rem 3rem;
}
.powered-heading{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 2.4rem;
}
.powered-list{
    display: flex;
}
.powered-box{
    background-color: #EBEBEB;
    height: 93px;
    width: 208px;
    border-radius: 8px;
    margin-left: 2rem;
}
.align-center-at-the-bottom{
    margin-left: 10rem;
}
.section-ten{
    padding-bottom: 3rem;
}
.footer{
    background:   radial-gradient(circle at center, #043d1e, rgba(0, 0, 0, 0.8)), /* Light green radial overlay */
    url('../images/section-4-bg.png') no-repeat center center;
    padding: 4rem 2rem 4rem 2rem;
}
.white-logo{
    width: 60%;
}
.footer-link-box{
    margin-top: 3rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    color: white;
}
.footer-link{
    color: white;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 1.6rem;
}
.f-link-box{
    margin-bottom: 3rem;
}
.contact{
    color: #F0F89C;
}