@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/gt-walshiem-pro/GTWalsheimPro-Regular.woff') format('woff2'),
         url('/fonts/gt-walshiem-pro/GTWalsheimPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --darkText: #2D322E;
    --darkBg: #1F3409;
}

.prompt-thin {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .prompt-extralight {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .prompt-light {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-medium {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .prompt-semibold {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .prompt-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .prompt-extrabold {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .prompt-black {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .prompt-thin-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .prompt-extralight-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .prompt-light-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .prompt-regular-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .prompt-medium-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .prompt-semibold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .prompt-bold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .prompt-extrabold-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .prompt-black-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
html {
    font-size: 62.5%;
    /* changes a default 16px font size to 10px */
}
* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1.4rem;
}

/* My styles start here */
.logo-nav{
    width: 90px;
}
.nav-item{
    margin: 2rem;
}
.nav-link{
    color: var(--darkText);
    font-size: 1.6rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    
}
.active{
    font-weight: 600;
    font-style: bold;
    display: inline-block;
            padding-bottom: 5px; /* Adjust padding as needed */
            position: relative;
}
.active::after {
    content: '';
    display: block;
    width: 50px; 
    height: 4px; 
    background-color: var(--darkText);
    margin: 10px auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; 
}
.register-btn{
    font-size: 1.7rem;
    border-radius: 27px;
    padding: 10px 20px 10px 20px;
    background-color: var(--darkBg);
    color: white;
}
.register-btn:hover, .register-btn:focus{
    background-color: var(--darkBg) !important;
    color: white !important;
}
.register-text{
    font-family: 'inter', sans-serif;
}
.navbar-toggler-icon {
    font-size: 2rem;
}